FINOPS_DATABASE_URL=postgresql://finops:finops_local@postgres:5432/finops
FINOPS_AGENT_MODE=offline
FINOPS_TICKET_ADAPTER=offline
QWEN_API_KEY=
QWEN_CHAT_MODEL=qwen-plus
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
GITHUB_TOKEN=
GITHUB_REPOSITORY=
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=
FINOPS_IDENTITY_MODE=oidc
FINOPS_OIDC_ISSUER_URL=http://localhost:8182/realms/finops
FINOPS_OIDC_JWKS_URL=http://localhost:8182/realms/finops/protocol/openid-connect/certs
FINOPS_OIDC_AUDIENCE=finops-web
